@model WishlistModel
@using Nop.Web.Models.ShoppingCart;

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Wishlist").Text);
}


<div class="container">
    <div class="features_items my-account-page"><!--features_items-->
        <h2 class="title text-center">@if (Model.IsEditable)
                                      {
                                          @T("Wishlist")
                                      }
                                      else
                                      {
                                          @String.Format(T("Wishlist.WishlistOf").Text, Model.CustomerFullname)
                                      }</h2>
        <div class="custom-page-box-div">
            <div class="wishlist-content">
                @if (Model.Items.Count > 0)
                {
                    if (Model.Warnings.Count > 0)
                    {
                        <div class="alert alert-danger square-box">
                            <div>
                                @for (int i = 0; i < Model.Warnings.Count; i++)
                                {
                                    <div>@Model.Warnings[i]</div>
                                }
                            </div>
                        </div>
                    }
                    using (Html.BeginRouteForm("Wishlist", FormMethod.Post))
                    {
                        <div id="cart_items">
    

                            <div class="table-responsive cart_info">
                                <table class="table table-condensed custom-shopping-cart-page">
                                    <thead>
                                        <tr class="cart_menu">
                                            @if (Model.IsEditable)
                                            {
                                                <td>
                                                    @T("ShoppingCart.Remove")
                                                </td>
                                            }
                                            @if (Model.DisplayAddToCart)
                                            {
                                                <td class="cart">
                                                    @T("ShoppingCart.AddToCart")
                                                </td>
                                            }
                                            @if (Model.ShowSku)
                                            {
                                                <td>
                                                    @T("ShoppingCart.SKU")
                                                </td>
                                            }
                                            @if (Model.ShowProductImages)
                                            {
                                                <td class="picture">
                                                </td>
                                            }
                                            <td>
                                                @T("ShoppingCart.Product(s)")
                                            </td>
                                            <td>
                                                @T("ShoppingCart.UnitPrice")
                                            </td>
                                            <td>
                                                @T("ShoppingCart.Quantity")
                                            </td>
                                            <td class="end">
                                                @T("ShoppingCart.ItemTotal")
                                            </td>
                
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Items)
                                        {
                                            <tr class="cart-item-row">
                                                @if (Model.IsEditable)
                                                {
                                                    <td class="remove-from-cart">
                                                        <input type="checkbox" name="removefromcart" value="@(item.Id)" />
                                                    </td>
                                                }
                                                @if (Model.DisplayAddToCart)
                                                {
                                                    <td class="remove-from-cart">
                                                        <input type="checkbox" name="addtocart" value="@(item.Id)" />
                                                    </td>
                                                }
                                                @if (Model.ShowSku)
                                                {
                                                    <td class="sku nobr">
                                                        @item.Sku
                                                    </td>
                                                }
                                                @if (Model.ShowProductImages)
                                                {
                                                    <td class="product-picture">
                                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                                    </td>
                                                }
                                                <td class="product">
                                                    <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})">@item.ProductName</a>
                                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                    {
                                                        <div class="attributes">
                                                            @Html.Raw(item.AttributeInfo)
                                                        </div>
                                                    }
                                                    @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                                    {
                                                        <div class="recurring-info">
                                                            @Html.Raw(item.RecurringInfo)
                                                        </div>
                                                    }
                                                    @if (item.Warnings.Count > 0)
                                                    {
                                                        <div class="message-error">
                                                            <ul>
                                                                @for (int i = 0; i < item.Warnings.Count; i++)
                                                                {
                                                                    <li>@item.Warnings[i]</li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    }
                                                </td>
                                                <td class="unit-price nobr">
                                                    <span class="product-unit-price">@item.UnitPrice</span>
                                                </td>
                                                <td class="qty nobr">
                                                    @if (Model.IsEditable)
                                                    {
                                                        if (item.AllowedQuantities.Count > 0)
                                                        {
                                                            <select name="itemquantity@(item.Id)" class="qty-dropdown gray-dropdown">
                                                                @foreach (var qty in item.AllowedQuantities)
                                                                {
                                                                    <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                                }
                                                            </select>
                                                        }
                                                        else
                                                        {
                                                            <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input gray-input"/>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>@item.Quantity</span>
                                                    }
                                                </td>
                                                <td class="cart_total_price subtotal nobr end">
                                                    <span class="product-subtotal">@item.SubTotal</span>
                                                    @if (!String.IsNullOrEmpty(item.Discount))
                                                    {
                                                        <div class="discount">
                                                            @T("ShoppingCart.ItemYouSave"): @item.Discount
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        
                        <div class="buttons">
                            <div class="common-buttons">
                                @if (Model.IsEditable)
                                {
                                    <input type="submit" name="updatecart" value="@T("Wishlist.UpdateCart")" class="btn btn-primary" />
                                }
                                @if (Model.DisplayAddToCart)
                                {
                                    <input type="submit" name="addtocartbutton" value="@T("ShoppingCart.AddToCart")" class="btn btn-primary" />
                                }
                                @if (Model.IsEditable && Model.EmailWishlistEnabled)
                                {
                                    <input type="button" value="@T("Wishlist.EmailAFriend")" class="btn btn-primary" onclick="setLocation('@Url.RouteUrl("EmailWishlist")')" />
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    @T("Wishlist.CartIsEmpty")
                }
            </div>
            @if (Model.IsEditable && Model.Items.Count > 0)
            {
<div class="space15px"><div class="space15px">&nbsp;</div></div>
                <div class="share-info">
                    <div class="fieldset">
                        <div id="legend">
                            <legend>@T("Wishlist.YourWishlistURL")</legend>
                        </div>
                    </div>

                    @*<p>
                        <span class="share-label">:</span>
                    </p>*@
                    <p>
                        <a href="@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid })" class="share-link">@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid }, "http")</a>
                    </p>
                </div>
            }
        </div>
    </div>
</div>



