@model AdminHeaderLinksModel
@using Nop.Web.Models.Common;
@if (Model.IsCustomerImpersonated || Model.DisplayAdminLink)
{
    <li>
        @if (Model.IsCustomerImpersonated)
        {
            <span class="impersonate">@string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerEmailUsername)
                - <a href="@Url.RouteUrl("Logout")" title="@T("Account.ImpersonatedAs.Finish.Hint")">@T("Account.ImpersonatedAs.Finish")</a>
            </span>
        }
        @if (Model.DisplayAdminLink)
        {
            <a href="@Url.Content("~/admin")" ><i class="fa fa-cog"></i>@T("Account.Administration")</a>
        }
    </li>
}