@model SitemapModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Sitemap").Text);
}
<div class="container">
    	
    <div class="row">    		
        <div class="col-sm-12">    			   			
            <h2 class="title text-center">@T("Sitemap")</h2>    			    				    				
            
        </div>			 		
    </div>
    	@if (Model.Topics.Count > 0)
        {
            <div class="custom-page-box-div">
                <div class="row">
                
                    @T("Sitemap.Topics")
                
                    @foreach (var item in Model.Topics)
                    {
                        <div class="col-md-3"><a href="@Url.RouteUrl("Topic", new {SystemName = item.SystemName.ToLowerInvariant()})">@item.Title</a></div>
                    }
                
                    <div class="clearfix space20"></div>
                    <div class="clearfix space20"></div>
                    <div class="clearfix space20"></div>
                </div>
            </div>


        }
        @if (Model.Categories.Count > 0)
        {
            <div class="custom-page-box-div">
                <h3>@T("Sitemap.Categories")</h3>
                <div class="row">
                            
                            
                            
                    
                    @foreach (var category in Model.Categories)
                    {
                        <div class="col-md-3"><a href="@Url.RouteUrl("Category", new {SeName = category.SeName})">@category.Name</a></div>
                    }
                    
                            
                    <div class="clearfix space20"></div>
                    <div class="clearfix space20"></div>
                    <div class="clearfix space20"></div>
                </div>
            </div>
        }
        @if (Model.Manufacturers.Count > 0)
        {
            <div class="custom-page-box-div">
                <h3>@T("Sitemap.Manufacturers")</h3>
                <div class="row">
                            
                            
                            
                    
                    @foreach (var manufacturer in Model.Manufacturers)
                    {
                        <div class="col-md-3"><a href="@Url.RouteUrl("Manufacturer", new {SeName = manufacturer.SeName})">@manufacturer.Name</a></div>
                    }
                    
                            
                    <div class="clearfix space20"></div>
                    <div class="clearfix space20"></div>
                    <div class="clearfix space20"></div>
                </div>
            </div>


        }
        @if (Model.Products.Count > 0)
        {
            <div class="custom-page-box-div">
                <h3>@T("Sitemap.Products")</h3>
                <div class="row">
                            
                            
                            
                    
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-md-3"><a href="@Url.RouteUrl("Product", new {SeName = product.SeName})">@product.Name</a></div>
                    }
                    
                            
                    <div class="clearfix space20"></div>
                    <div class="clearfix space20"></div>
                    <div class="clearfix space20"></div>
                </div>
            </div>



        }
      
</div>



