<div class="header-middle"><!--header-middle-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo pull-left">
                    <a class="logo" href="@Url.RouteUrl("HomePage")"></a>
                </div>
                <div class="btn-group pull-right">
                    
                    

                    @Html.Action("LanguageSelector", "Common")
                    @Html.Action("CurrencySelector", "Common")
                    @Html.Action("TaxTypeSelector", "Common")
                 
                    
                </div>
            </div>
            <div class="col-sm-8">
                @Html.Action("HeaderLinks", "Common")
                
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_Notifications")
        </div>
    </div>
</div>








