@model TopicMoveModel
@using Nop.Web.Models.Boards;
@{    
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
}


<div class="container">
    <div class="row forum-group-search-div">
        <div class="col-md-12">
            @Html.Action("ForumBreadcrumb", new { forumId = Model.Id })
        </div>
     
    </div>
</div>
<div class="container">
    
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">@T("Forum.MoveTopic")</h2>
        <div class="custom-page-box-div">
             @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@T("Forum.SelectTheForumToMoveTopic"):</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("ForumSelected", new SelectList(Model.ForumList, "Value", "Text"), new { @class = "gray-dropdown" })
                                </div>
                            </div>
                            <div class="buttons">
                                <input type="submit" value="@T("Forum.Submit")" class="button-1 submit-forum-topic-button btn btn-primary" />
                                <input type="button" class="button-2 cancel-forum-topic-button btn btn-primary" value="@T("Forum.Cancel")" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = Model.Id, slug = Model.TopicSeName })')" />
                            </div>
                        }
        </div>
    </div>

</div>



