@model ForumBreadcrumbModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Boards;
@{
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}



<div class="custom-page-box-border-less-div">
    
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            
            <li><a href="@Url.RouteUrl("HomePage")" title="@T("Forum.Breadcrumb.HomeTitle")">@T("Forum.Home")</a></li>

            @if (Model.ForumGroupId > 0)
            {
                <li>
                    @Html.RouteLink(Model.ForumGroupName, "ForumGroupSlug",
                                    new { id = Model.ForumGroupId, slug = Model.ForumGroupSeName },
                                    new { title = String.Format("{0}: {1} ", T("Forum.Breadcrumb.ForumGroupTitle"), Model.ForumGroupName) })</li>        
            }
            @if (Model.ForumId > 0)
            {
                <li>
                    @Html.RouteLink(Model.ForumName, "ForumSlug",
                                    new { id = Model.ForumId, slug = Model.ForumSeName },
                                    new { title = String.Format("{0}: {1} ", T("Forum.Breadcrumb.ForumTitle"), Model.ForumName) })
                </li>
            }
            @if (Model.ForumTopicId > 0)
            {
                <li>
                    @Html.RouteLink(Model.ForumTopicSubject, "TopicSlug",
                                    new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName },
                                    new { title = String.Format("{0}: {1} ", T("Forum.Breadcrumb.TopicTitle"), Model.ForumTopicSubject) })
                </li>
            }
            
            
        </ol>
    </div>
</div>
